    <div class="footer">
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/alisameed/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://x.com/alisameedarbani" target="_blank"><i class="fab fa-x-twitter"></i></a>
            <a href="https://github.com/alisameed32" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>

    <div class="image-credit">
        Photo by <a href="https://unsplash.com/@skillscouter?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Lewis Keegan</a> on <a href="https://unsplash.com/photos/person-holding-a-book-and-pen-oB2aEeE8s4A?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </div>
</body>
</html>